* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.79);
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: darkgreen;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.6rem;
  gap: 20rem;
}

.logo {
  height: 2.4rem;
}

.main-nav {
  display: flex;
  flex-grow: 0.2;
}

/* NAVIGATION BAR */

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
}

.search-control,
.search-btn {
  width: 100%;
}

.search-control {
  padding: 0 1rem;
  font-size: 2rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid green;
  color: green;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: green;
}

.search-btn {
  width: 35px;
  height: 35px;
  font-size: 1.6rem;
  background: green;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  background: darkgreen;
}

/* Search Result */

.meal-details,
.search-result {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.search-result {
  margin-top: 10rem;
}

.title {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.meal-result {
  margin-top: 4rem;
}

.meal-item {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}

.meal-img img {
  width: 100%;
  display: block;
}

.meal-name {
  padding: 1.5rem 0.5rem;
}

.meal-name h3 {
  font-size: 3.2rem;
}

.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: green;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.85rem 0;
  display: block;
  width: 175px;
  margin: 3rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  background: darkgreen;
}

/* Meals Detail */
.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: green;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}
.meal-details::-webkit-scrollbar {
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* JS related */
.showRecipe {
  display: block;
}
.meal-details-content {
  margin: 2rem;
}
.meal-details-content p {
  padding: 2.5rem 0;
  font-size: 2rem;
}
.meal-details-content p:not(.recipe-category) {
  padding: 2rem 0;
}
.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.recipe-title {
  margin-top: 4rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
  font-size: 3rem;
}
.recipe-category {
  background: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  color: green;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-instruct {
  padding: 3rem 0;
  font-size: 2.4rem;
}
.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
}
.recipe-link a {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover {
  opacity: 0.8;
}

.notFound {
  grid-template-columns: 1fr !important;
  color: green;
  font-size: 3rem;
  font-weight: 600;
}

/* Media queries */

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

